<div class="dummy-card">

     <div class="clock">

          
        <div class="num num1">  <div> <strong> 1  </strong>  </div>  </div>
        <div class="num num2">  <div> <strong> 2  </strong>  </div>  </div>
        <div class="num num3">  <div> <strong> 3  </strong>  </div>  </div>
        <div class="num num4">  <div> <strong> 4  </strong>  </div>  </div>
        <div class="num num5">  <div> <strong> 5  </strong>  </div>  </div>
        <div class="num num6">  <div> <strong> 6  </strong>  </div>  </div> 
        <div class="num num7">  <div> <strong> 7  </strong>  </div>  </div>
        <div class="num num8">  <div> <strong> 8  </strong>  </div>  </div>
        <div class="num num9">  <div> <strong> 9  </strong>  </div>  </div>
        <div class="num num10"> <div> <strong> 10 </strong>  </div>  </div>
        <div class="num num11"> <div> <strong> 11 </strong>  </div>  </div>
        <div class="num num12"> <div> <strong> 12 </strong>  </div>  </div> 

        <div class="hr-hand"  #heureAnalogique   ></div>
        <div class="min-hand" #minuteAnalogique  ></div>
        <div class="sec-hand" #secondeAnalogique  ></div>
        
    </div>

</div>